<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="Utilities.Listeners" />
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="Com.JC.TestCases.Req2_POST_request_Return_JobIdentifierTCs"/>
      <class name="Com.JC.TestCases.Req3_GET_request_Base64EncodedTCs"/>
      <class name="Com.JC.TestCases.Req4_GET_request_toStats"/>
      <class name="Com.JC.TestCases.Req5_Graceful_Shutdown_Tcs"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
